.title {
    text-align: center;
}








small {
    font-size: 20px;
}


hr {
    width: 120px;
}


footer {
    text-align: center;
    color: white;
    border: 1px solid rgb(233, 91, 17);
    background-color: rgb(233, 91, 17);
    margin-left: auto;
    margin-left: auto;
}





